name: Gerar EXE Automático

on:
  push:
    branches: [ "main" ]
  pull_request: # <--- Roda também nos Pull Requests
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  construir-e-empacotar:
    runs-on: windows-latest

    steps:
    # 0. HACK: Habilita caminhos longos
    - name: Habilitar Long Paths
      run: git config --system core.longpaths true

    # 1. Baixar Código
    - name: Baixar Código (Checkout)
      uses: actions/checkout@v4

    # 2. Instalar Java 21
    - name: Instalar Java (JDK)
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    # 3. Compilar e Criar JAR
    - name: Compilar e Criar JAR
      run: |
        mkdir bin
        javac -d bin src/*.java
        
        jar cfe app.jar src.Main -C bin .

    # 4. Criar EXE (AGORA LIMPO E SEGURO)
    - name: Criar Executável (JPackage)
      run: |
        mkdir app-lib
        
        move app.jar app-lib/
        
        New-Item -ItemType Directory -Force -Path "C:\t"
        Copy-Item -Path "app-lib" -Destination "C:\t" -Recurse
        cd C:\t
        
        jpackage --name "RPG-Console" `
                 --input app-lib `
                 --main-jar app.jar `
                 --main-class src.Main `
                 --type app-image `
                 --win-console `
                 --icon "game.ico" `
                 --app-version "1.0.0" `
                 --dest output
        
        $Destino = "${{ github.workspace }}\saida"
        New-Item -ItemType Directory -Force -Path $Destino
        Copy-Item -Path "output\RPG-Console" -Destination $Destino -Recurse

    # 5. Upload
    - name: Fazer Upload do Arquivo
      uses: actions/upload-artifact@v4
      with:
        name: RPG-Console-Windows
        path: saida/RPG-Console