name: Gerar EXE Automático

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      # Documentação e Configuração do Git
      - '**.md'       # Ignora qualquer arquivo Markdown (README, etc)
      - 'LICENSE'     # Ignora a licença
      - '.gitignore'  # Ignora o gitignore
      - '.gitattributes' # Ignora o gitattributes
      - '*.yml'       # Ignora arquivos YML (workflows, configs, etc)

      # Configurações do VS Code / IDEs (se subiu sem querer)
      - '.vscode/**'
      - '.idea/**'
      - '*.iml'
      
      # Imagens e Assets que não afetam a compilação
      - 'docs/**'
      - 'images/**'
      - 'screenshots/**'
      
      # O próprio arquivo do Workflow (evita loop se você editar só o comentário do YML)
      - '.github/workflows/**'

  pull_request: # <--- Roda também nos Pull Requests
    branches: [ "main" ]
    paths-ignore:
      - '**.md'
      - 'LICENSE'
      - '.gitignore'
      - '.gitattributes' 
      - '*.yml'

      - '.vscode/**'
      - '.idea/**'
      - '*.iml'
      
      - 'docs/**'
      - 'images/**'
      - 'screenshots/**'
      
      - '.github/workflows/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  construir-e-empacotar:
    runs-on: windows-latest

    steps:
    # 0. HACK: Habilita caminhos longos
    - name: Habilitar Long Paths
      run: git config --system core.longpaths true

    # 1. Baixar Código
    - name: Baixar Código (Checkout)
      uses: actions/checkout@v4

    # 2. Instalar Java 21
    - name: Instalar Java (JDK)
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    # 3. Compilar e Criar JAR
    - name: Compilar e Criar JAR
      run: |
        mkdir bin
        javac -d bin src/*.java
        jar cfe app.jar src.Main -C bin .

    # 4. Criar EXE (SEGURO)
    - name: Criar Executável (JPackage)
      run: |
        mkdir app-lib
        
        move app.jar app-lib/
        
        New-Item -ItemType Directory -Force -Path "C:\t"
        Copy-Item -Path "app-lib" -Destination "C:\t" -Recurse
        Copy-Item -Path "game.ico" -Destination "C:\t"
        cd C:\t
        
        jpackage --name "RPG-Console" `
                 --input app-lib `
                 --main-jar app.jar `
                 --main-class src.Main `
                 --type app-image `
                 --win-console `
                 --icon "game.ico" `
                 --app-version "1.0.0" `
                 --dest output
        
        $Destino = "${{ github.workspace }}\saida"
        New-Item -ItemType Directory -Force -Path $Destino
        Copy-Item -Path "output\RPG-Console" -Destination $Destino -Recurse

    # 5. Upload
    - name: Fazer Upload do Arquivo
      uses: actions/upload-artifact@v4
      with:
        name: RPG-Console
        path: saida/RPG-Console